.App {
  text-align: center;
}

.App-logo {
  margin: 10px;
  animation: App-logo-spin infinite 5s linear;
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: #c0c0c0;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.body {
  height: 100%;
  background-color: rgb(66, 66, 66);
  margin-top: 20px;
  padding: 10px;
  border-radius: 1%;
}
.bodyInfo {
  border-radius: 1%;
  box-shadow: 1px 1px 10px rgb(199, 199, 199);
  width: 70%;
  background-color: rgb(207, 207, 207);
}

.head { 
  height: 90px;
  background-color: #F99E1A;
}

#searchBar{
  background-color: rgb(207, 207, 207);
  width: 50%;
  border-radius: 1%;
}

#searchBtn{
  margin: 5px;
}

#selectHero {
  color: black;
  font-size: 22px;
  margin: 5px 15px 0px 0px;
  display: inline;
}

.title {
  position: absolute;
  margin: 20px 10px;
  font-size: 40px;
  font-family: Oswald;
}
@keyframes App-logo-spin {
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
